.token{
    color: black;
    width: 30%;
    margin: 0px auto;
    margin-bottom: 100px;
    background: rgb(117, 237, 245);
    padding: 20px;
    border-radius: 25px;
    border: 20px;
    text-align: center;
}
.token h5{
    margin: 0px;
    margin-top: 5px;
    font-size: 20px;
}


