@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.main{
    background-image: url("../../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    
}
.main img{
    height: 500px;
    margin-right: 20px;
}
.mainText {
    margin-top: 20px;
    width: 650px;
    font-size: 1.75rem;
    font-family: 'Poppins', sans-serif;
   

}
.mainText h1{
    font-size: 4rem;
    margin: 0px;
    padding: 0px;
    
}